<h1>Step 1 is to create a group for your locations, like 'Boston Rentals'</h1>
<h3>Grouping locations together is the first step in being an organized house hunter</h3>
<h3>After you create the group, create a key location or two within the group.  Just click the 'new location' link and you will see how to proceed.</h3>
<h4> You will also want an email / password combo that you can share with friends so they can login and add to your collection of potential abodes.</h4>
<%= render 'form' %>

<%= link_to 'Back', groups_path %>
