<span id="load_backstretch"></span>
<div class="box center">
  <h1 class="center">Find Your Perfect Home.<h1>
    <!-- Be close to what matters -->
  <h4 style="margin-top:20px;">What is most important when deciding where to live?</h4>
  <h4 style="margin-bottom:20px;">Proximity to wherever you spend most of your time.</h4>

  <div class="center form-container" style="background-color:#B4D0C7; padding-top:10px; padding-bottom:10px;">
    <h4 style="padding-bottom:10px; font-weight:900; font-size: 1.4em">Pin Potential Properties To A Map And Compare</h4>
    <%unless user_signed_in?%> 
      <%= render 'sign_in_form' %>
    <%else%>
      <div class="normal-text">
        You have entered <%=pluralize(current_user.locations.size,"locations")%>
        <br />
        Manage them <%= link_to "here", locations_path, "data-no-turbolinks"=>true %>
      </div>
     <% end %>
  </div>
  
  
</div>

            
           
