<span id="load_backstretch"></span>
<div class="box">
  <h1 class="center">Be close to what matters to you</p>
  <div class="center form-container">
    <%unless user_signed_in?%> 
      <%= render 'sign_in_form' %>
    <%else%>
      <div class="normal-text">
        You have entered <%=pluralize(current_user.locations.size,"locations")%>
        <br />
        Manage them <%= link_to "here", locations_path %>
      </div>
     <% end %>
  </div>
  
  
</div>

            
           
