

.box {
        margin: 0 auto;
        padding: 20px;
        overflow-y:auto;
        width:33%;
}

.box{
        padding: 20px;
        background: rgba(255, 255, 255, .7);
        filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#B2FFFFFF,endcolorstr=#B2FFFFFF,gradienttype=0);
        -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2FFFFFF,endColorstr=#B2FFFFFF)";
        zoom: 1;
        letter-spacing: 1px;
}

.box p + p {
        margin-top: 20px;
}
.center {margin:0 auto;text-align:center;}
.form-horizontal .control-label{width:40%;text-align:left;margin-top:10px;margin-left:25px;}
/*highlight*/
.highlight, table.dataTable tr.even.highlight, table.dataTable tr.odd.highlight{background-color:#71A2D0
;}
.inline {display:inline;}
.no-bg{background:none !important;}
.no-border{border:none !important;}

